.cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.card img {
    max-width: 230px;
    border-radius: 25px;
}

.card h3 {
    padding-left: 20px;
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
